//
//  prd.xcconfig
//  test_meli
//
//  Created by Pedro Alonso Daza B on 1/06/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_BASE_URL = https:/$()/api.mercadolibre.com/
API_BASE_URL_DETAIL = https:/$()/restcountries.com/
APP_NAME = TEST MELI
